body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f8f8f8;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.person {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.person img {
    max-width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}

button {
    font-size: 1em;
    margin: 20px;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
